<html>
<head>
<title>CPM</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function() {
    var conn;
    var test = $("#test");

    function update(msg) {
        test.text(msg)
    }

    if (window["WebSocket"]) {
        conn = new WebSocket("ws://{{$}}/random_ws");
        conn.onclose = function(evt) {
            update("Connection closed.")
        }
        conn.onmessage = function(evt) {
            update(evt.data)
        }
    } else {
        update("Your browser does not support WebSockets.")
    }
});
</script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div>
    <h3>Test</h3>
    <div>Current:<span id="test"></span></div>
  </div>
</body>
</html>
